.hero {
  background: url(./img/hero.jpg) center no-repeat;
  height: 100%;
  width: 100%;
  display: table;
  position: relative;
  background-size: cover;
}

.background-overlay:before {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
 
}

  .hero-content {
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    padding: 16%;
    

  }


.Ftext {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 3px;
  color: #ffff !important;
  
}

.Stext {
  color: #ffff !important;
  font-size: 35px;
  line-height: 54px;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
}

.Ttext {
  color: #F9004D;
  font-size: 30px;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  line-height: 40px;

}

.Ltext {
  color: #ffff !important;
  font-size: 35px;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  line-height: 50px;

}

.hero-arrow {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  width: 20px;
  margin: 0 auto;
  text-align: center;
}

.hero-arrow a {
  font-size: 28px;
  color: #ffffff;
}



.home-arrow-down {
  -moz-animation: home-arrow-down 2s infinite;
  -webkit-animation: home-arrow-down 2s infinite;
  animation: home-arrow-down 2s infinite;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.home-arrow-down:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}